#widget {
  font-family: "Segoe UI";
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  font-size: 20px;
  margin-bottom: 20px;
  color:black;
  width:900px;
}

#squareAndCurrencies{
  width:100%;
  display: none;
  justify-content: space-between;
  margin-bottom: 20px;
}
#square{
  width: 210px;
  height: 170px;
  background: #ccd2dc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.square__live{
  font-size: 27px;
  font-weight: 900;
  color: #262d37;
  width: 130px;
  text-align: center;
  line-height: 30px;
  margin-top: 10px;
}
.square__interval{
  color: #666666;
  margin-top: 20px;
  font-size: 18px;
}
#Currencies{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.crypto{
  display: flex;
  justify-content: center;
  align-items: center;
}
.crypto__box{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.crypto__img{
  width: 40px;
  height: 45px;
}

.crypto__currency-container{
  display: flex;
  flex-direction: column;
  color: #c1c4c8;
  font-size: 18px;
}
.crypto__currency-container div {
  line-height: normal!important;
}
.crypto__currency_val{
  font-size: 22px;
  font-weight: 700;
}
.crypto__currency_name{
  font-weight: 100;
  font-size: 22px;
}

/*first progress bar */

.crypto-progress{
  position:relative;
}
.progress{
  background-color: white;
  width: 650px;
  height: 45px;
  text-align: center;
}
.crypto-progress__progress{

}
.crypto-progress__indicator{
  font-family: "Segoe UI Black";
  font-family: 'Ubuntu', sans-serif;
  z-index:999;
  position: absolute;
  top:5px;
  font-weight: 700;
}
.progress{
  background-color: white;
  border-radius: 0!important;
}

.progress{
  position: static;
  z-index: 1;
  border-radius: 0;
}

.inner
{
  background: #1e5799; /* Old browsers */
  background: -moz-linear-gradient(left, #ffffff 0%,  #71829d 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,#ffffff 0%,#71829d 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,#ffffff 0%,#71829d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr = '#1e5799', endColorstr = '#71829d',GradientType=1 ); /* IE6-9 */
  display:inline-block;
  position:absolute;
  left:0;
  height: 45px;
  z-index: 999;
}

.crypto__inner{
  /*width: 20%;*/
}


#counterAndRounds{
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
}



#counter{
  margin-bottom: 27px;
}

.counter__title {
  color: #c1c4c8;
  font-size: 16px;
  text-align: center;
  width:200px;
  margin-bottom: 2px;
}

.time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:210px;
}

.time__item {
  font-size: 22px;
  width:45px; height:45px;
  background: #ccd2dc;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

}

.time__item:after {
  position: absolute; top:43px; right:0;
  z-index: 999;
  width:40px;
  font-size: 16px;
  color: #c1c4c8;
  text-align: center;
}

.time__days:after{
  content: attr(data-content);
}
.time__hour:after{
  content: attr(data-content);
}
.time__min:after{
  content: attr(data-content);
}
.time__sec:after{
  content: attr(data-content);
}

.currencies{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:700px;
}

.rounds__inner{
  /*width: 30%;*/
}


.before-arrow{
  content:"";
  width: 0; height: 0;
  border-style: solid;
  border-width: 6px 3px 0 3px;
  border-color: #ccd2dc transparent transparent transparent;
}
.after-arrow{
  content:"";
  width: 0; height: 0;
  border-style: solid;
  border-width: 0 3px 6px 3px;
  border-color: transparent transparent #ccd2dc transparent;
}

.crypto_arrow_before{
  position: absolute; top: -6px;
}
.crypto_arrow_after{
  position: absolute; bottom:-6px;
}

.round_arrow_before{
  position: absolute; top: 21px;
}
.round_arrow_after{
  position: absolute; bottom:22px;
}

/*real money*/

.real-money{
  color: #c1c4c8;
  font-size: 22px;
  font-weight: 700;
}


/*second progress bar*/
#rounds{
  /*border:1px dashed lightcyan;*/
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position:relative;
}
.rounds__dates{
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 28px;
}
.rounds__date{
  margin:0 -7%;
  color: #c1c4c8;
  font-size: 16px;
}

.rounds__pi-start{
  /*margin-left:-20px;*/
}
.rounds__i-end{
  margin-right:0;
}

.rounds__intervals{
  display: flex;
}
.rounds__range{
  height:100px;
  position: absolute;
  top:0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /*align-items: center;*/
}
.rounds__pi-range{
  /*width: 200px;*/
  left: 15%;
}

.rounds__i-range{
  /*width: 350px;*/
  right: 0;
}
.range__shaded{
  position:static;
  z-index: 98;
  font-weight: 700;
  text-align: center;
  line-height: 45px;
  height: 44px;
  background: repeating-linear-gradient(
      135deg,
      transparent,
      transparent 2px,
      #dbdbdc 2px,
      #dbdbdc 4px
  );
}
.range__shaded_name{
  font-family: "Segoe UI Black";
  font-family: 'Ubuntu', sans-serif;
  position:absolute;
  z-index: 100!important;
  font-weight: 700;
}

.range__shaded_pi{
  /*left:13%;*/
}
.range__shaded_i{
  /*right:24%;*/
}
.range__interval{
  height: 20px;
  border: 1px solid #8b8b8b;
  border-top:none;
  text-align: center;
  font-size: 12px;
  line-height: 25px;
  color: #8b8b8b;
}
.dollar{
  font-weight:100;
}