header{
  background-color: $header-bg;
  height:$header-height;

  .wrapper{
    height: inherit;

    .header-logo{
      width:148px;
      height:55px;
    }
    .menu-box,ul {
      display: flex;
      justify-content: center;
      align-items: center;
      height: inherit;

      ul {
        width:90%;
        max-width: 800px;
        min-width: 725px;
        justify-content: space-between;
        align-items: center;
        margin: 0;

        li{
          font-size: 16px;
          list-style: none;

          a{
            color: white;
            text-decoration: none;
          }
        }
      }
    }

    .lang-switcher{
      font-size: 18px;
      color:gold;
      text-decoration: none;
    }
    .burger-box {
      display:none;
      text-align: right;
    }

  }

  .mob-menu{
    display: none;
  }

}