@media (max-width: 1367px) {
 footer .text-wrapper{
    word-wrap: break-word;
  }
}
@media (max-width: 620px) {
  footer .text-wrapper{
   font-size: 10px;
  }
}
@media (max-width: 360px) {
  footer .text-wrapper{
    font-size: 10px;

    .footer-tail-text{
      display: none;
    }

  }



}